<span class="poke-card">

  <span class="title">
    <h4 id="nome-poke">Nome Pokemon</h4>
    <span id="type-poke">Typing</span>
  </span>

  <img src="" alt="Sprite do Pokemon" id="sprite-poke">

  <span class="stats-poke">
    <ul id="stats-list">Stats
      <li>HP<span class="statline" >40</span></li>
      <li>Attack<span class="statline" >40</span></li>
      <li>Defense<span class="statline" >40</span></li>
      <li>Sp. Atk<span class="statline" >40</span></li>
      <li>Sp. Def<span class="statline" >40</span></li>
      <li>Speed<span class="statline" >40</span></li>
    </ul>
  </span>

  <span class="addit-poke-info">
    <h4>Peso</h4>
    <h4>Competitivo</h4>
  </span>

  <span class="addit-values">
    <p>40 Kg</p>
    <p>WallBreaker</p>
  </span>
</span>
