<div *ngFor="let pokeInfo of pokemonCardRow; let i = index" class="div-card">
  <div class="poke-card {{pokeInfo.types[0]}}" (dblclick)="disposeCard(i)">
    <div class="title">
      <h4 class="nome-poke">{{pokeInfo.name.toUpperCase()}} #{{pokeInfo.id}}</h4>
      <div class="types-poke">
        <h4>{{pokeInfo.types[0].toUpperCase()}}</h4>
        <h4 *ngIf="pokeInfo.types.length > 1">/ {{pokeInfo.types[1].toUpperCase()}}</h4>
      </div>
    </div>

    <img src={{pokeInfo.sprites.art}} alt="Sprite do Pokemon" class="sprite-poke {{pokeInfo.types[1]}}">

    <div class="stats-poke">
      <ul class="stats-list"><span>Stats</span>
        <li>HP<span class="statline">{{pokeInfo.stats.hp}}</span></li>
        <li>Attack<span class="statline" >{{pokeInfo.stats.attack}}</span></li>
        <li>Defense<span class="statline" >{{pokeInfo.stats.defense}}</span></li>
        <li>Sp. Atk<span class="statline" >{{pokeInfo.stats.spAttack}}</span></li>
        <li>Sp. Def<span class="statline" >{{pokeInfo.stats.spDefense}}</span></li>
        <li>Speed<span class="statline" >{{pokeInfo.stats.speed}}</span></li>
      </ul>
    </div>

    <div class="addit-info">
      <div class="addit-info-values">
        <h4>Peso</h4>
        <p>{{pokeInfo.weight}} Kg</p>
      </div>

      <div class="addit-info-values">
        <h4>Competitivo</h4>
        <p>{{setAtributoCompetitivo(pokeInfo.stats.higherStat)}}</p>
      </div>
    </div>
  </div>
</div>
