<span class="poke-card">

  <span class="title">
    <h4 id="nome-poke">{{pokemonInfo.name.toUpperCase()}}</h4>
    <span id="type-poke">{{pokemonInfo.types.join("/")}}</span>
  </span>

  <img [src]="getSanitizerUrl(pokemonInfo.sprites.art)" alt="Sprite do Pokemon" id="sprite-poke">

  <span class="stats-poke">
    <ul id="stats-list">Stats
      <li>HP<span class="statline" >{{pokemonInfo.stats.hp}}</span></li>
      <li>Attack<span class="statline" >{{pokemonInfo.stats.attack}}</span></li>
      <li>Defense<span class="statline" >{{pokemonInfo.stats.defense}}</span></li>
      <li>Sp. Atk<span class="statline" >{{pokemonInfo.stats.spAttack}}</span></li>
      <li>Sp. Def<span class="statline" >{{pokemonInfo.stats.spDefense}}</span></li>
      <li>Speed<span class="statline" >{{pokemonInfo.stats.speed}}</span></li>
    </ul>
  </span>

  <span class="addit-poke-info">
    <h4>Peso</h4>
    <h4>Competitivo</h4>
  </span>

  <span class="addit-values">
    <p>{{pokemonInfo.weight}} Kg</p>
    <p>{{setClasseCompetitiva(pokemonInfo.stats.higherStat)}}</p>
  </span>
</span>
