.poke-card {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-top: 25px;
  width: 220px;
  height: 350px;
  background-color: yellow;
  border-style: solid;
  border-width: 4px;
  border-radius: 14px;
}

.poke-card .title {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.poke-card #nome-poke {
  padding-left: 10px;
}

.poke-card #type-poke {
  padding-right: 10px;
}

.poke-card #sprite-poke {
  background-color: #fff;
  border: solid;
  border-radius: 25%;
  height: 130px;
  width: 90px;
  align-self: center;
}

.poke-card .stats-poke {
  max-width: 100px;
}

.poke-card #stats-list {
  list-style-type: none;
  margin-right: 0;
}

.poke-card .addit-poke-info {
  display: flex;
  justify-content: space-around;
  height: 20px;

  h4 {
    font-weight: bold;
  }
}

.poke-card .addit-values {
  display: flex;
  justify-content: space-around;
  height: 20px;
}

.poke-card .statline {
  position: absolute;
  left: 200px;
}
